html,
body {
  margin: 0;
  padding: 0;
  height: auto;
}

a {
  color: white;
}
body {
  background: white;
  color: white;

  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  justify-content: center;
  position: relative;
}
button {
  font-size: 20px;
}
.glass {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}
/* mobile first */
#app {
  width: 100%;
  margin: auto;
  margin-top: 0;
  background-image: url("../img/d_glass-morphism_card_1080p_4x.webp");
  border-radius: 0;
}

#app {
  /* background: radial-gradient(
    circle,
    rgba(27, 36, 83, 1) 0%,
    rgba(26, 10, 40, 0.1) 100%
  );*/
 
}

.padding-default {
  padding: 11px;
}
.padding-modest {
  padding: 5px;
}
.raven-rebels-multi-wallet__nav {
  list-style: none;
  margin-bottom: 0;
  padding-top: 22px;
  margin-top: 0;
}
.raven-rebels-multi-wallet__nav-item {
  display: inline-block;
  margin-right: 22px;
}
.raven-rebels-multi-wallet__nav-item:last-child {
  margin-right: 0;
}
.raven-rebels-multi-wallet__nav-item:last-child {
  float: right;
}
.raven-rebels-multi-wallet__home-heading {
  margin-bottom: 44px;
  font-size: 1.5rem;
}
.raven-rebels-multi-wallet__home-asset {
  margin-bottom: 22px;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

.unstyled-button {
  border: none;
  background: none;
  color: white;
  cursor: hand;
  font-family: "Quicksand", sans-serif;
  padding: 0;
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.raven-rebels-multi-wallet__asset-image {
  text-align: center;
}
.raven-rebels-multi-wallet__asset-image img {
  max-height: 300;
  max-width: 300;
  border-radius: 10px;
}

@media only screen and (min-width: 600px) {
  body {
    width: 100%;
    min-height: calc(100vh);
  }
  #app {
    max-width: calc(100vw);
    width: 600px;
    margin: auto;
    margin-top: 10px;
    border-radius: 10px;
  }
  .raven-rebels-multi-wallet__asset-image img {
    max-height: 300;
    max-width: 500;
    border-radius: 10px;
  }
  .padding-default {
    padding: 22px;
  }
}

@media only screen and (min-width: 1024px) {
  #app {
    max-width: calc(100vw);
    width: 710px;
  }
}
